<!DOCTYPE html>
<html ng-app="twee">
<head>
  <title>Tweet</title>
  <link type="text/css" rel="stylesheet" href="index.css">
  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="controllers/home.js"></script>
  <script type="text/javascript" src="controllers/follows.js"></script>
  <script type="text/javascript" src="controllers/tweets.js"></script>
  <script type="text/javascript" src="controllers/home.js"></script>
  <script type="text/javascript" src="controllers/team.js"></script>
  <script type="text/javascript" src="controllers/about.js"></script>
</head>
</body>
<header class="masthead">
<h1 class="masthead-heading">Tweetful</h1>
<p class="masthead-intro"> Making the internet a little more thoughtful</p>
</header>


<div class="info-container">
	<section class="info">
		<header>
			<h2>About Tweetful</h2>
			</header>
			<p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
    	</p>
	</section>

	<section class="info">
		<header>
			<h2>What makes us different</h2>
				<p>dsafas pasd p paosdp aopsd poas doipa apsdio aso dpoaisdp oaisp dp paosdi a uiosgdoasbdo apsojd[pjav podah asp dpaos udpao sdpai sopdp</p>
			</header>
	</section>

	<section class="info">
		<header>
			<h2>Company History</h2>
				<p>asidoha sd asoidpu aosid asodi ausdo iaosidu oaisudoaish di ahvdfivasuvasuydgvaiuysdviayvsdibasidubaisudhiasgdyagwi a  ais udhai sdi uashd</p>
		</header>
	</section>
</div>

	<footer>
		Contact us: <span>admin@tweetful.io</span>
	</footer>
</body>
</html>